@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* แก้ไขตรงนี้เพื่อให้ใช้ Kanit เป็นฟอนต์หลักของระบบ */
  --font-sans: 'Kanit', var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* เปลี่ยนจาก Arial เป็น Kanit */
  font-family: 'Kanit', Helvetica, sans-serif;
}